body {
    margin: 0;
    font-family:'Times New Roman', 'Georgia', Times, serif;
    background-color: rgb(194, 194, 152);
}
    
.page-title {
    margin-bottom: 0;
    text-align: center;
    font-size: 4rem;
}
    
.container {
    margin: 0;
    padding: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
    justify-content: start;
    gap: 5%;

    @media (min-width: 1440px) {
        grid-template-columns: repeat(auto-fit, 15rem);
        padding: 80px;
        gap: 80px;
    }
}
    
.new-book-container {
    width: 10rem;
    height: 10rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 1440px) {
        width: 15rem;
        height: 15rem;
    }
}
    
.new-book {
    width: 7.5em;
    height: 5rem;
    background-color: white;
    border: 4px solid rgb(131, 62, 62);
    border-radius: 32px;
    box-shadow: 0px 0px 6px black;
    font-size: 1rem;
    font-family: 'Times New Roman', 'Georgia', Times, serif;
    @media (min-width: 1440px) {
        width: 10rem;
        height: 10rem;
        font-size: 1.5rem;
    }
}
    
.book-card {
    width: 10rem;
    height: 10rem;
    background-color: white;
    border: 4px solid rgb(131, 62, 62);
    border-radius: 32px;
    box-shadow: 0px 0px 6px black;
    @media (min-width: 1440px) {
        width: 15rem;
        height: 15rem;
    }
}
    
.book-title {
    margin: 12px;
    font-size: 1rem;
    @media (min-width: 1440px) {
        font-size: 1.75rem;
    }
}
    
.author {
    margin-top: 0;
    margin-left: 12px;
    font-size: 0.85rem;
    @media (min-width: 1440px) {
        font-size: 1.50rem;
    }
}
    
.pages {
    margin-left: 12px;
    font-size: 0.75rem;
    @media (min-width: 1440px) {
        font-size: 1.10rem;
    }
}
    
.read {
    margin-left: 12px;
    margin-top: 4px;
    font-size: 0.75rem;
    @media (min-width: 1440px) {
        font-size: 1.10rem;
    }
}

.book-form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    border-radius: 8px;
    border-color: rgb(131, 62, 62);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    font-family: 'Times New Roman', 'Georgia', Times, serif;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

#submit-button,
#close-button {
    width: 45%;
    font-family: 'Times New Roman', 'Georgia', Times, serif;
    background-color: rgb(194, 194, 152);
    border: solid 1px black;
}